<p-dialog
  header="Segnala il tuo inquilino moroso"
  [(visible)]="showSidebar"
  [baseZIndex]="10000"
  styleClass="infoDialog"
>
  <app-add-person (onAdded)="furbettoAdded($event)"></app-add-person>
</p-dialog>

<p-dialog
  header="Come funziona?"
  [(visible)]="showInfo"
  [baseZIndex]="10000"
  styleClass="infoDialog"
>
  <p>
    <img src="/assets/mouse.png" class="textWrap" style="margin-top: -2px" />
    <b>Hai un inquilino che non ti paga l'affitto?</b><br />
    Segnalalo e aiutaci a tracciare questi topi di appartamento
  </p>

  <p style="margin-top: 30px">
    <img
      src="/assets/houseLock.png"
      class="textWrap"
      style="margin-top: -2px"
    />
    <b>Sei in procinto di fittare la tua casa?</b>
    Controlla la mappa dei furbetti, e vedi se nella tua zona ci sono inquilini
    che non pagano. Magari uno di loro vuole entrare proprio in casa tua...
  </p>

  <ng-template pTemplate="footer">
    <p-button
      icon="pi pi-check"
      (click)="showInfo = false"
      label="Ok"
      styleClass="p-button-text"
    ></p-button>
  </ng-template>
</p-dialog>

<p-dialog
  header="Questa proprieta' ospita un inquilino moroso"
  [(visible)]="showFurbettoSidebar"
  [baseZIndex]="10000"
  styleClass="infoDialog"
>
  <app-furbetto-info
    *ngIf="selectedFurbetto"
    [furbetto]="selectedFurbetto"
  ></app-furbetto-info>
</p-dialog>

<p-toolbar styleClass="top-toolbar">
  <div class="image-logo">
    <img src="/assets/home.png" style="height: 55px" />
  </div>
  <button
    pButton
    type="button"
    style="margin-left: 25px"
    label="Come funziona?"
    (click)="showInfo = true"
    class="p-button-raised p-button-help"
  ></button>
  <button
    pButton
    type="button"
    label="Segnala il tuo inquilino"
    style="margin-left: 5vw"
    (click)="toggleShowSidebar()"
    class="p-button-raised"
  ></button>

  <div class="p-toolbar-group-right"></div>
</p-toolbar>

<div class="container">
  <div class="navi">
    <p-chip
      label="LA MAPPA DEGLI INQUILINI MOROSI"
      icon="pi pi-map"
      styleClass="customChip"
    ></p-chip>
  </div>

  <div class="infoi">
    <app-mappa-furbetti></app-mappa-furbetti>
  </div>
</div>
