::ng-deep .p-toolbar.top-toolbar {
  height: 70px;
  margin: 0 auto;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

:host ::ng-deep .infoDialog {
  width: 50% !important;
}

@media screen and (max-width: 700px) {
  :host ::ng-deep .infoDialog {
    width: 100% !important;
  }
}

@media screen and (max-width: 700px) {
  .image-logo {
    visibility: hidden;
    display: none;
  }
}

.toolbarItem {
  flex-shrink: 1;
}

// .p-sidebar {
//   overflow-y: auto;
// }

.textWrap {
  float: left;
  margin: 10px;
}

.container {
  width: 100%;
  height: calc(100% - 70px);
  position: relative;
  text-align: center;
}
.navi,
.infoi {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.navi {
  z-index: 10;
  text-align: center;
  margin-top: 12px;
  height: auto;
  width: auto;
  margin-left: 200px;
}

:host ::ng-deep .customChip {
  background: whitesmoke;
  font-weight: bold;
  font-size: 18px;
  box-shadow: 0 0 5px black;
}
