.sizes {
  .p-inputtext {
    display: block;
    margin-bottom: 0.5rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.div-input {
  margin-top: 25px;
}

.p-input {
  width: 350px;
}

.p-field * {
  display: block;
}

.p-inputtextarea {
  width: 350px;
}
