<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <div class="container">
    <div class="containerSub">
      <div class="p-field div-margin">
        <label for="nome1">Il tuo nome</label>
        <input
          id="nome1"
          type="text"
          pInputText
          formControlName="nome"
          class="p-input"
        />
      </div>

      <div class="p-field div-margin">
        <label for="nome1">La tua mail</label>
        <input
          id="mail"
          type="text"
          pInputText
          formControlName="mail"
          autocomplete="email"
          style="min-width: 300px"
          class="p-input"
        />
      </div>
    </div>

    <div class="clear"></div>
    <div class="containerSub">
      <div class="p-field div-margin">
        <label for="nomeFurbetto1">Il nome dell'inquilino moroso</label>
        <input
          autocomplete="nope"
          id="nomeFurbetto1"
          aria-describedby="nomeFurbetto1-help"
          type="text"
          pInputText
          formControlName="nomeFurbetto"
        />
        <small id="nomeFurbetto1-help"
          >Inserisci solo il nome, non il suo cognome...maledetta
          privacy!!</small
        >
      </div>

      <div class="p-field div-margin">
        <label for="info">La descrizione dell'inquilino</label>
        <textarea
          pInputTextarea
          formControlName="info"
          autocomplete="nope"
        ></textarea>
        <small id="info-help"
          >Una descrizione per riconoscere il furbetto (e' una famiglia? figli?
          come si presenta?)</small
        >
      </div>
    </div>
    <div class="clear"></div>
    <div class="containerSub">
      <div class="p-field div-margin">
        <label for="comune1">Il comune dove si trova la tua proprieta'</label>
        <p-autoComplete
          autocomplete="nope"
          d="comune1"
          formControlName="comune"
          [suggestions]="comuniResults"
          (completeMethod)="searchComune($event)"
          [forceSelection]="true"
          class="p-input"
        ></p-autoComplete>
      </div>

      <div class="p-field div-margin">
        <label for="provincia"
          >La provincia dove si trova la tua proprieta'</label
        >
        <input
          id="provincia"
          disabled="true"
          type="text"
          pInputText
          formControlName="provincia"
          class="p-input"
        />
      </div>
    </div>
    <div class="clear"></div>
    <div class="containerSub">
      <div class="p-field div-margin">
        <label for="street">La strada dove si trova la tua proprieta'</label>
        <input
          id="street"
          type="text"
          pInputText
          formControlName="strada"
          autocomplete="nope"
          class="p-input"
        />
      </div>
    </div>
    <div class="clear"></div>
    <div class="div-margin">
      <p-button
        label="Cerca indirizzo"
        icon="pi pi-search"
        (click)="onSearch($event)"
        [disabled]="!addressValid"
      ></p-button>
    </div>

    <label class="div-margin" p-error>{{ addressError }}</label>
    <div class="clear"></div>

    <div class="containerSub">
      <div class="p-field div-margin left" *ngIf="addresses">
        <p-listbox
          [options]="addresses"
          [multiple]="false"
          optionLabel="formatted_address"
          [(ngModel)]="selectedAddress"
          [ngModelOptions]="{ standalone: true }"
          [listStyle]="{ 'max-height': '250px' }"
        >
          <ng-template let-address pTemplate="item">
            <div class="address-item">
              <div>{{ address.formatted_address }}</div>
            </div>
          </ng-template>
        </p-listbox>
      </div>
    </div>
    <div class="clear"></div>
    <div class="containerSub">
      <div class="div-margin">
        <p-button
          label="Aggiungi"
          icon="pi pi-check"
          type="submit"
          [disabled]="!profileForm.valid || loading"
        ></p-button>
        <p-button
          label="Annulla"
          icon="pi pi-times"
          styleClass="p-button-secondary"
          [style]="{ 'margin-left': '.5em' }"
          (click)="onClose($event)"
        ></p-button>
      </div>
    </div>
    <div class="clear"></div>
    <small class="div-margin"
      >*nonmipaga.it non si assume nessuna responsabilita' sulle informazioni
      inserite. Si prega di non inserire alcuna info che possa violare la
      privacy dell'inquilino</small
    >
  </div>
</form>
