.country-item-value {
  img.flag {
    width: 17px;
  }
}

.sizes {
  .p-inputtext {
    display: flex;
    margin-bottom: 0.5rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.left {
  float: left;
}

.clear {
  clear: both;
}

.scrollable {
  overflow: auto;
  max-height: 1000px;
}

.div-margin {
  margin-top: 25px;
  margin-left: 25px;
}

.div-input-left {
  margin-left: 25px;
}

.p-input {
  min-width: 0;
  width: 100%;
}

.p-inputtextarea {
  flex-grow: 4;
  width: 450px;
}

.p-field {
  display: flex; /* or inline-flex */
  flex-direction: column;
  flex-grow: 1;
}

.p-autocomplete {
  display: flex; /* or inline-flex */
  flex-grow: 1;
}

.containerSub {
  display: flex; /* or inline-flex */
  flex-grow: 1;
  align-content: stretch;
  align-items: stretch;
}

.container {
  display: flex; /* or inline-flex */
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
}
