.country-item-value {
  img.flag {
    width: 17px;
  }
}

.sizes {
  .p-inputtext {
    display: block;
    margin-bottom: 0.5rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.left {
  float: left;
}

.clear {
  clear: both;
}

.scrollable {
  overflow: auto;
  max-height: 1000px;
}

.div-input {
  margin-top: 25px;
  margin-left: 25px;
}

.div-input-left {
  margin-left: 25px;
}

.p-input {
  width: 250px;
}

.p-inputtextarea {
  width: 250px;
}

.p-field * {
  display: block;
}

.p-autocomplete {
  width: 250px;
}
